<div class="flex w-full">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora entrada</th>
        <th>Hora entrada (real)</th>
        <th>Extra (entrada)</th>
        <th>Hora salida</th>
        <th>Hora salida (real)</th>
        <th>Extra (salida)</th>
        <th>Extra (total)</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(jornada of jornadas(); track jornada.id){
        <tr>
          <th>{{jornada.fecha | date:'dd/MM/yyyy'}}</th>
          <td>{{jornada.horaTeoricaEntrada}}</td>
          <td>{{jornada.horaRealEntrada}}</td>
          <td>{{jornada.tiempoDesfaseEntrada || '00:00'}}</td>
          <td>{{jornada.horaTeoricaSalida}}</td>
          <td>{{jornada.horaRealSalida}}</td>
          <td>{{jornada.tiempoDesfaseSalida || '00:00'}}</td>
          <td>{{jornada.tiempoDesfaseTotal || '00:00'}}</td>
          <button class="btn btn-secondary btn-circle mr-3 mt-0.5" [routerLink]="['/home',jornada.id]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"/></svg>
          </button>
          <button class="btn btn-circle mt-0.5" (click)="onDelete.emit(jornada.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/></svg>
          </button>
        </tr>
      }

    </tbody>
  </table>
</div>
