/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake --default, synthwave --prefersdark, cupcake;
}

@font-face {
  font-family: Ubuntu;
  src: url('/assets/fonts/Ubuntu-Regular.ttf')
  format("truetype");
}

@theme {
  --font-mld: Ubuntu, "sans-serif";
  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*--color-primary: #ff5733;*/
  /*--color-secondary: #00ffff;*/
}

body {
  font-family: var(--font-mld);
}
